<a href=""
   onclick="var el = this;
            navigator.clipboard.writeText('@Value');"

>

    <MudIcon Icon="@Icons.Material.Filled.ContentCopy" />

</a>

@code {
    [Parameter] public string? Value { get; set; }

    //onclick description:
    //assign the anchor element to a variable since settimeout callback function loses the reference to "this"
    //add a class to give IU feedback to the user hidding the standard copy icon and showing a loader
    //write the value to clipboard. Due to IOS restrictions, Html native onclick event must be used instead of Blazor event.
    //add a delay in miliseconds with a callback function that removes the CSS class to hide the loader and display the standard copy icon again
}