@using passgen.Services

 @inject IClipboardService ClipboardService
 @inject ISnackbar Snackbar

 <MudSnackbarProvider />

@* <MudIconButton OnClick="OnClick" Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" /> *@
<button onclick="@OnClick" style="background-color:lightgray; padding:5px;border-radius: 4px;">Copy</button>

@code {

    [Parameter]
    public string TextToCopy { get; set; }

    private async Task OnClick()
    {
        Snackbar.Configuration.SnackbarVariant = Variant.Text;
        Snackbar.Configuration.VisibleStateDuration = 1500;
        Snackbar.Configuration.HideTransitionDuration = 0;
        Snackbar.Configuration.ShowTransitionDuration = 0;
        Snackbar.Configuration.MaximumOpacity = 20;
        Snackbar.Configuration.ShowCloseIcon = false;

        try
        {
            await ClipboardService.CopyToClipboard(TextToCopy);
            Snackbar.Add("Password copied!", Severity.Success);
        }

        catch(Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);            
        }


        

    }
}